	.number-button {
    display: inline-block;
    height: 2em;
    width: 2em;
    margin: 1%;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
    vertical-align: middle;
}
.number-button:active {
	background: white;
}

body {
  background: #ddd;
}

.score {
  font-weight: bold;
}
#answer-input {
	border: 1px solid #6d6d6d;
	background: white;
	width: 8em;
	font-size: 2em;
	line-height: 2em;
}
.question {
	font-size: 2em;
	line-height: 2em;
}
