	.number-button {
    display: inline-block;
    height: 2em;
    width: 2em;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
}

body {
  background: #ddd;
}
